# ignore the python related folders, cache, and virtual env
__pycache__/
.ipynb_checkpoints/
ugv-env/
*.swp

# ignore certain assistant output files
response.wav
.venv/

# Ignore large Vosk models and cache files
vosk_models/
__pycache__/
*.pyc
*.log
